.cardStyle {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 8px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(33, 33, 33, 0.5);
  text-align: center;
}