@use '../../styles/variables.module.scss' as v;

.cardStyle {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 8px 0;
  padding: 20px;
  background-color: v.$primary-white;
  border-radius: 8px;
  // box-shadow: 1px 2px 4px rgba(33, 33, 33, 0.5);
  text-align: center;
}

.cardStyle h3{
  font-family: v.$font-family-headers;
  font-size: v.$font-size-section-headers;
  font-weight: v.$font-weight-regular;
  color: v.$primary-blue;
}

.cardStyle p {
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-regular;
}
