@use '../../styles/variables.module.scss' as v;

.footer {
  display: flex;
  justify-content: center;
  background-color: v.$dark-blue;
  height: 300px;
  color: white;
  font-family: v.$font-family-headers;
  font-size: v.$font-size-base;
  margin: 0;
  padding: 10px 50px;
}

.sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.section {
}

.title {
  font-size: v.$font-size-section-headers;
  font-weight: v.$font-weight-regular;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text {
  opacity: 0.85;
}
