@use './variables.module.scss' as v;

body {
  font-family: v.$font-family-main;
  margin: 0;
  background-color: v.$primary-white;
}



// temp
#retCards {
  max-width: 1300px;
  margin: auto;
  gap: 60px;
}

#retCards > div {
  box-shadow: 1px 2px 4px rgba(33, 33, 33, 0.5);
  border-radius: 8px;
  width: 270px;
}

#retCards h3{
  margin: 50px 0;
}

#retCards p {

}

#Advokaterne {
  display: flex;
  gap: 50px;
  border: none;
    > div {
      border: none;
      border-bottom: v.$dark-blue solid 5px;
    }
    h3{
    font-size: v.$font-size-base;
    }
}




#headerTest {
  display: block;
  margin-bottom: 350px;
    &:header {
      position: relative;
    }
     > div {
      position: absolute;
      transform: translate(-50%, -50%);
      bottom: -60%;
      left: 50%;
    }
}