@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');


// fonts
$font-family-main: 'Inter', sans-serif;
$font-family-headers: 'Jura', sans-serif;

// colours
$primary-white: #FAFAFA;
$dark-blue: #2C3B6F;
$primary-blue: #002BC2;
$black: #000000;