@use '../../styles/variables.module.scss' as v;

.container {
  position: relative;
}

.cardHeaderImage {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.mainHeaderh1 {
  font-size: 128px;
  font-weight: v.$font-weight-regular;
  color: v.$primary-white;
  margin: 0;
  font-family: v.$font-family-headers;
}

.mainHeaderh1 span:first-of-type {
color: v.$primary-blue;

}

.mainHeaderh3{
  font-family: v.$font-family-main;
  font-weight: 400;
}

.hgroup {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
}