.figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: blue 5px solid;
  margin: 20px 0;
}
.figure:nth-of-type(even){
  direction: rtl;
}
.figureImage {
  display: block;
  width: 100%;
  height: 530px;
  object-fit: cover;
}

.figcaption h3 {
  text-align: center;
  margin-top: 50px;
  color: blue;
}

.article {
  padding: 64px;
  direction: ltr;

}

.figcaption p{
  text-align: left;
}
