@use '../../styles/variables.module.scss' as v;

.figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: v.$dark-blue 5px solid;
  margin: 65px 0;
  max-height: 530px;
  background-color: v.$primary-white;
}
.figure:nth-of-type(even){
  direction: rtl;
    figcaption{
      border-right: v.$dark-blue solid 5px;
      border-left: none;
   }
}
.figureImage {
  display: block;
  width: 100%;
  height: 530px;
  object-fit: cover;
}

.figcaption{
  background-color: v.$primary-white;
  border-left: v.$dark-blue solid 5px;
    
  h3 {
    text-align: center;
    margin-top: 50px;
    color: v.$primary-blue;
    font-size: v.$font-size-section-headers;
    font-family: v.$font-family-headers;
    font-weight: v.$font-weight-regular;
    }

    p{
      text-align: left;
    }

}



.article {
  padding: 64px;
  direction: ltr;
  font-family: v.$font-family-main;
}



@media(max-width: 600px) {
  .figure {
    grid-template-columns: repeat(1, 1fr);
  }
}