@use '../../styles/variables.module.scss' as v;
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  width: 100%;
}

.logo {
  font-size: 32px;
  font-weight: v.$font-weight-regular;
  font-family: v.$font-family-headers;
  color: v.$black;
}
.logo span:first-of-type {
  color: v.$primary-blue;
}

.navList {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  border-right: v.$primary-blue 2px solid;
  padding-right: 1.5rem;
}

.navLink {
  color: v.$primary-blue;
  text-decoration: none;
  font-weight: v.$font-weight-regular;
  font-family: sans-serif;


  &:hover {
    text-decoration: underline;
  }
}
