
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  width: 100%;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
}
.logo span:first-of-type {
  color: #002BC2;
}

.navList {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  border-right: blue 2px solid;
  padding-right: 1.5rem;
}

.navLink {
  color: blue;
  text-decoration: none;
  font-weight: 500;
  font-family: sans-serif;


  &:hover {
    text-decoration: underline;
  }
}
